@font-face {
  font-family: "inter";
  src: url("./Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}
body {
  background-color: #f6fedb;
}
html,body{
  margin: 0;
}
h1{
  text-align: center;
  color: #91972A;
  border-bottom: 2px solid #E6D3A3;
  font-family: inter;
  font-weight: 400;
}